.itemInput {
    margin-left: 40px;
    margin-top: 20px;
}

.todoBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.todoList {
    border-radius: 5px;
    margin: 20px 0 20px 40px;
    padding: 20px;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 4px 7px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 4px 7px 0px rgba(34, 60, 80, 0.26);
}




